* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.my-color {
    background-color: #252c36;
}

.rbc-header {
    background-color: #252c36;
    color: #fff;
    text-transform: capitalize;
}

.rbc-time-header-cell .rbc-today {
    background: rgb(157, 66, 243);
}
